# Ansible - Private
test.yml
vars/
Ansible/inventories/*
tableau-tests/
win-test/
set-static-ip
iis-install/
cloudwatch-install/
vault.yml
*.log
awx-install

# Docker
Docker/ansible-playground
Docker/mc-env
.env